@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");

html,
.markdown-body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #34495e;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
}

.markdown-body {
    max-width: 95%;
    padding: 30px 15px 40px;
    color: #34495e;
}

.toc-menu a,
.toc-menu a:visited {
    color: #505d6b;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toc-menu a:active,
.toc-menu a:hover {
    background-color: transparent !important;
    text-decoration: underline !important;
}

.toc-menu .menu-item.-level-1 > a {
    color: #111;
    font-weight: 600;
}

html .toc-menu .link.-active,
html .toc-menu .hlink.-active {
    box-shadow: none;
    border-right: 2px solid;
    color: #25a;
    font-weight: 600;
}

.markdown-body h1 {
    font-weight: 600;
}

p, ul {
    line-height: 1.6rem;
    word-spacing: .05rem;
}

.toc-menu .-level-1:first-child > .title {
    font-weight: 500;
}

img {
    border-radius: 5px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .1);
}

.markdown-body blockquote {
    background-color: rgba(34, 85, 170, .2);
    border-left-color: #25a;
    color: #25a;  
    padding: 0.75em 1em;
}

.markdown-body blockquote a {
    color: #25a;
    font-weight: 600;
    text-decoration: underline;
}

@media (min-width: 768px) {

    .markdown-body h1.massive-header,
    .markdown-body h1.massive-header.-with-tagline+blockquote {
        border: none;
        color: #25a;
        line-height: 1.2;
        font-size: 5em;
        font-weight: 200;
        margin-bottom: .2em;
        padding-bottom: 29vh;
        padding-top:29vh;
    }

    .markdown-body h1.massive-header.-with-tagline {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 20vh;
        padding-bottom: 0;
    }

    .markdown-body h1.massive-header.-with-tagline+blockquote {
        background-color: transparent;
        border-left: 0;
        color: #aaa;
        font-size: 2em;
        padding-bottom: 2vh;
        padding-left: 0;
        padding-right: 10%;
        padding-top: 0;
    }

    .markdown-body h1.massive-header.-with-tagline+blockquote > p {
        line-height: 1.1;
    }
}

@media (min-width: 960px) {
    .markdown-body {
        max-width: 900px;
    }
}